{% extends 'base.html.twig' %}

{% block title %}Zaloguj się{% endblock %}

{% block body %}
 <div class="auth__container">
    <div class="auth__title">
        <img class="auth__title-image" src="{{ asset('build/images/logo.png') }}">
        <h1 class="auth__title-text">olXD</h1>
    </div>
    <div class="auth__text">Zaloguj</div>
    <div class="auth__content">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Jesteś zalogowany jako {{ app.user.username }}, <a href="{{ path('app_logout') }}">Wyloguj</a>
        </div>
    {% endif %}

    <div class="form-group">
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Adres email" autocomplete="email" required autofocus>
    </div> 
    <div class="form-group">
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Hasło" autocomplete="current-password" required>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-outline-success main__button" type="submit">
        Zaloguj
    </button>
</form>
</div>
</div>
{% endblock %}
