{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="auth__container">
    <div class="auth__title">
        <img class="auth__title-image" src="{{ asset('build/images/logo.png') }}">
        <h1 class="auth__title-text">olXD</h1>
    </div>
    <div class="auth__text">Zacebulkuj się!</div>
    <div class="auth__content">
    {{ form_start(registrationForm) }}
    <div class="form-group">
    {{ form_row(registrationForm.email, {label:"Email ", attr: { class: 'form-control', placeholder: 'Email' } })}}
  </div>
        
        {{ form_row(registrationForm.plainPassword, {
            label: "Hasło ", 
            attr: { class: 'form-control',
            placeholder: 'Hasło '}
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Zgadzam się z regulaminem ',
            attr: { class: "form-check-input"}
        }) }}

        <button type="submit" class="btn btn-outline-success main__button">Zarejestruj</button>
    {{ form_end(registrationForm) }}
    </div>
    </div>
    
    
{% endblock %}
