{% extends 'base.html.twig' %}

{% block title %}Start Page{% endblock %}

{% block body %}
<div class="auth__container">
    <div class="auth__title">
        <img class="auth__title-image" src="{{ asset('build/images/logo.png') }}">
        <h1 class="auth__title-text">olXD</h1>
    </div>
    <div class="auth__text">OGŁOSZENIA CEBULAKÓW</div>
    <div class="auth__content">
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('app_register') }}"><button type="button" class="btn btn-outline-success main__button">Register</button></a>
        <a href="{{ path('app_login') }}"><button type="button" class="btn btn-outline-success main__button">Login</button></a>
        {% endif %}
        
    </div>
</div>
{% endblock %}
{% block icons %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('app_logout') }}">Logout</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin') }}">Admin panel</a>
        {% endif %}
{% endblock %}