{% extends 'base.html.twig' %}

{% block title %}Start Page{% endblock %}

{% block body %}
<div class="auth__container">
    <div class="auth__title">
        <img class="auth__title-image" src="{{ asset('build/images/logo.png') }}">
        <h1 class="auth__title-text">olXD</h1>
    </div>
    <div class="auth__text">OGŁOSZENIA CEBULAKÓW</div>
    <div class="auth__content">
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('app_register') }}"><button type="button" class="btn btn-outline-success main__button">Register</button></a>
        <a href="{{ path('app_login') }}"><button type="button" class="btn btn-outline-success main__button">Login</button></a>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('app_announcements') }}"><button type="button" class="btn btn-outline-success main__button">Announcements Page</button></a>
        <a href="{{ path('app_add_announcements') }}"><button type="button" class="btn btn-outline-success main__button">Add Announcement</button></a>
        <a href="{{ path('app_my_announcements') }}"><button type="button" class="btn btn-outline-success main__button">My Announcement</button></a>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block icons %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin') }}"><i class="fa-solid navbar__menu-icons fa-toolbox"></i></a>
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('app_logout') }}"><i class="fa-solid navbar__menu-icons fa-right-from-bracket"></i></a>
    {% endif %}
{% endblock %}
