<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>olXD - {% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/favicon.png') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="container">
        <div class="navbar">
            <a href="{{ path('app_default') }}"><img class="navbar__image" src="{{ asset('build/images/logo.png') }}"></a>
            <div class="navbar__menu">
            {% block icons %}

            {% endblock %}
            </div>
        </div>
            {% block body %}

            {% endblock %}
    </div>
    </body>
</html>
