{% extends 'base.html.twig' %}

{% block title %} {{ announcement.title }} {% endblock %}

{% block body %}
<style>
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    {% if announcement.active %}
        {% if announcement.filename %}
            {% for image in announcement.filename %}
                <img src="/images/announcements/{{ image }}" style="width: 20em;">
            {% endfor %}
        {% endif %}
        <div class="ann__item">
            <div class="ann__first">
                <span class="ann__title">{{ announcement.title }}</span>
                <span class="ann__text">{{ announcement.price }} cbl</span>
            </div>
            <div class="ann__second"><span class="ann__text">{{ announcement.description }}</span></div>
            <div class="ann__third">
                <div><span class="ann__text"><i class="fa-solid fa-eye"></i>&nbsp;{{ announcement.views }}</span></div>
                <span class="ann__text">{{ announcement.userId.email }}</span>
                <a href="{{ path('app_show_announcement', { 'id': announcement.id }) }}"><i class="btn-danger"></i>Show</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
